.article {
    padding: 100px 0 86px;
}

.article__title {
    margin-bottom: 58px;
    font-size: 50px;
    line-height: 65px;
    font-weight: 700;
}

.article__subtitle {
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
}

.article__item:not(:last-child) {
    margin-bottom: 30px;
}
